.page-footer {
  background-color: #F5F5F5;
}

.form-control {
  width: 70%;
}

.icons {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.margins {
  margin: 5px;
}

.form-btn {
  display: flex;
  justify-content: space-around;
}

.form-btn input {
  margin-right: 10px;
}
