.list-unstyled-item {
  display: inline-block;
  padding: 10px;
}

.input-email {
  border-radius: 5px;
  border: 2px solid #d32323;
  margin: 5px;
}

.submit-email-button {
  border-radius: 5px;
  border: 2px solid #d32323;
  margin: 5px;
}

.text-uppercase {
  color: #d32323;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
}

.row {
  padding: 20px;
}
