<div class="card">
  <img src="assets/images/ramen.jpg" class="card-img-top" alt="image">
  <div class="card-body">
    <a href="#" class="card-link"><h5 class="card-title">Ramen 77</h5></a>
    <div class="review">
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <p class="card-text"> 24 отзыва </p>
    </div>
    <div class="add-info">
      <p class="card-text">Лапша | Рис | Пиво | Любовь </p>
      <p class="card-text none">ул. Кабанбай батыра 77, Алматы </p>
      <p class="card-text none">Часы работы: 11:00 – 23:00</p>
    </div>
  </div>
</div>
