<app-header-other></app-header-other>
<div class="write-review">
  <div class="place-name">
    <a href="#">Каганат</a>
  </div>
  <div class="review-guidelines">
    <a href="#">Read our review guidelines</a>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Stars</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="review-text">
    <textarea name="review-text-area" rows="8" cols="80" placeholder="Your review helps others learn about local businesses."
      class="review-text-area"></textarea><br>
    <input class="btn btn-primary" type="submit" value="Post Review">
  </div>
</div>
<app-footer></app-footer>
