<div class="first-container" [style.background-image]="'url(/assets/images/background.jpg)'">
  <app-header></app-header>
  <div class="inner">
    <h1 class="motto">Все полезно, что в рот полезло!</h1>
    <form>
      <div class="input-group row">
        <div class="col-8 search">
          <input type="search" class="form-control form-control-lg" id="searchPlace" placeholder="Найти заведение...">
        </div>
        <span class="input-group-btn">
          <button type="submit" class="btn home-search btn-lg">
            <i class="fas fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
