<div class="best-review">
  <h2 class="title">Отзыв недели</h2>
  <div class="card" style="width: 61rem;">
        <div class="card-body">
            <div class="info-about-writer">
              <img src="assets/img/ramen.jpg" class="rounded float-left img-size" alt="image">
              <div class="">
                <a href="#" class="card-link"><h5 class="card-title">Данияр Дж.</h5></a>
                <p class="card-text">Отзыв для   <a href="#" class="card-link">Рамен 77</a></p>
              </div>
          </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p class="card-text"> 2/21/2019 </p>
        <p class="card-text">Не были в данном ресторане довольно долгое время, и этот раз очень
          приятно удивил. Все блюда восхитительно вкусные! Салат из древесных грибов, очень хорошая
          порция, немного острый, но вкусно...<a href="#" class="card-link">продолжить чтение отзыва</a></p>
      </div>
    </div>
  </div>
