/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-medium;
  src: url(assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-bold;
  src: url(assets/fonts/Montserrat-Bold.ttf);
}

body {
  font-family: Montserrat !important;
}
